<% if !user_signed_in? %>
	<%= render 'layouts/banner' %>
<% else %>
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>My Crushes</p>
				</div>
				<% for @u in @following %>
					<div class="panel-body">
							<%= link_to "X", remove_user_from_list_path(:u_id => @u.id), :method => :post, class: "btn-primary btn btn-sm pull-right main-color" %>
						<!-- could also have email here...-->
						<p><%= @u.first_name.to_s + ' ' + @u.last_name.to_s + " ----> " + @u.email.to_s %></p>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Matches</p>
				</div>
				<% for @m in @matches %>
					<div class="panel-body">
						<p><%= @m.user_id %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>