<!-- check if user is signed in for which template to use -->
<% if user_signed_in? %>
	<div class="row">
	  <div class="col-sm-12 text-center bootstrap-welcome">
	    <h1>Here is your Match Dashboard</h1>
	    <p class="lead">Go sweaty!</p>
	</div>
<% end %>

