<!DOCTYPE html>
<html>
<head>
  <title>ChanceMe</title>
</head>
<body>


<div class='container'>
	<span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
	<%= yield %>
</div>

</body>
</html>
